.title-container {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 960px;

    &__header {
        display: flex;
        justify-content: baseline;
        align-items: center;

        & > mat-icon {
            margin-right: 8px;
            height: 24px;
            width: 24px;
        }
    }

    &__item {
        background: rgb(34,193,195);
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

        &:hover {
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
            z-index: 10;
            transition: 0.4s;
        }
    }
}

mat-grid-tile {
    background: lightblue;
    margin: 5px 5px 5px 5px;
}