<!--<h2 mat-dialog-title>Add new task</h2>-->
<!--&lt;!&ndash;<mat-dialog-content>&ndash;&gt;-->
<!--&lt;!&ndash;  <p>Enter name task</p>&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-label>Task name:</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input matInput [(ngModel)]="task.name">&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;  <p>Enter task priority:</p>&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-form-field appearance="fill">&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-select [(ngModel)]="task.priority">&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-option *ngFor="let priority of priorityValues" [value]="priority">&ndash;&gt;-->
<!--&lt;!&ndash;        {{priority}}&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-select>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;</mat-dialog-content>&ndash;&gt;-->
<!--&lt;!&ndash;<mat-dialog-actions>&ndash;&gt;-->
<!--&lt;!&ndash;  <button mat-button color="primary" (click)="createTask()">Create task</button>&ndash;&gt;-->
<!--&lt;!&ndash;</mat-dialog-actions>&ndash;&gt;-->
