<div class="form-container">
  <h1>Welcome to registration page</h1>
  <div class="form-container__inputs">
    <mat-form-field appearance="outline">
      <mat-label>Enter first name:</mat-label>
      <input matInput placeholder="First Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter last name:</mat-label>
      <input matInput placeholder="Last Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter email:</mat-label>
      <input matInput placeholder="Email address">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter password:</mat-label>
      <input matInput placeholder="Password">
    </mat-form-field>
  </div>
  <button class="form-container__button"
          mat-raised-button color="primary">Sing up
  </button>
</div>

